<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>785132189702-22lem0g0gq04p6jpru1vh7noeh4f7khs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785132189702-22lem0g0gq04p6jpru1vh7noeh4f7khs</string>
	<key>API_KEY</key>
	<string>AIzaSyDMWo0gl5ZEoVNCO1EdFTEiC6L14yrdPGU</string>
	<key>GCM_SENDER_ID</key>
	<string>785132189702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danielharris.Makestagram</string>
	<key>PROJECT_ID</key>
	<string>makestagram-8c7fb</string>
	<key>STORAGE_BUCKET</key>
	<string>makestagram-8c7fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785132189702:ios:ab40d31e72739f94</string>
	<key>DATABASE_URL</key>
	<string>https://makestagram-8c7fb.firebaseio.com</string>
</dict>
</plist>